.page-title{
	color:#bdf1e9;
	font-family:'oswald';
	text-transform:uppercase;
	font-size:24px;
}
.readmore {
	background: #bdf1e9;
	color:#000;
	font-size:20px;
	border:none;
	padding:6px 15px;
	font-family:'oswald';
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}

.post_ttl {
	color:#fff;
	font-family:'oswald';
	text-transform:uppercase;
	font-weight:normal;
	font-size:24px;
}
input.field { 
	border:1px solid #525252 ;
	background:#000 ;   
	color:#fff ;
}
body { 	
	color:#eaeaea;
	background: -webkit-linear-gradient(left,  #cecece 0%,#e8e8e8 34%,#e8e8e8 66%,#cecece 100%); /* Chrome10+,Safari5.1+ */
	font-family: 'pt_sansregular';
}
#clipsform label:after{ content:":"; }

#clipsform input { clear:left; width:100%; box-sizing: border-box;}